nav {
    font-size: 1rem; /* 1rem = 16px*/
    font-family: 'Nanum Myeongjo', sans-serif;
    // font-family: 'Shadows Into Light', cursive;
  
    span {
      font-family: 'Josefin Slab', serif, cursive;
      font-size: 2rem;
    }
   
  }