@use '../custom' as *;

header {
  padding-top: 3rem;
  padding-bottom: 3rem;

 @include media-breakpoint-up(md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}


p {
  text-align: justify; 
 }
